<!doctype html>
<html lang="en">
<!-- Loads static files like images, css, js etc -->
{% load static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'images/todologo.png' %}" rel="icon" type="image/x-icon">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    {% block linkcss %}
    {% endblock %}
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    {% block linkjs %}
    {% endblock %}
</head>
<body>
{% block content %}
{% endblock %}
</body>
</html>